@font-face {
  font-family: 'iconfont';
  src: url('../font1/iconfont.eot');
  src: url('../font1/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font1/iconfont.woff') format('woff'),
  url('../font1/iconfont.ttf') format('truetype'),
  url('../font1/iconfont.svg#iconfont') format('svg');
}

