* { margin: 0; padding: 0; box-sizing: border-box; }

html, body, section { width: 100%; height: 100%; }

body { background: #b8ca9d; }

#link { display: none; }
#link #tl { width: 100%; height: 7%; padding: 0 0.64rem; display: flex; justify-content: space-between; align-items: center; }
#link #list { width: 100%; height: 93%; overflow: auto; }
#link #list li { list-style: none; width: 100%; height: 10%; border-top: 1px solid #e8dbdb; display: flex; align-items: center; padding: 0 12px; font-size: 0.96rem; }
#link #list li span { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#link #top { width: 7%; height: 5%; background: #ccc; opacity: 0.6; position: fixed; top: 7%; right: 7%; text-align: center; border-radius: 50%; }
#link #bom { width: 7%; height: 5%; background: #ccc; opacity: 0.6; position: fixed; bottom: 7%; right: 7%; display: none; text-align: center; border-radius: 50%; }

#conter { padding: 0 0.48rem; }
#conter h4 { width: 100%; height: 7%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 185%; text-align: center; }
#conter #ct { width: 100%; height: 93%; overflow: auto; text-indent: 2em; font-size: 0.96rem; letter-spacing: 0.24rem; }

#top1 { width: 100%; height: 1.28rem; background: darkorange; position: absolute; top: 0; left: 0; display: none; text-align: center; line-height: 1.28rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 0 12%; }
#top1 img { position: absolute; top: 0; left: 0.28rem; }

#bottom { width: 100%; height: 2.56rem; background: darkorange; position: absolute; bottom: 0; left: 0; display: none; }

#bottom ul { height: 1.28rem; list-style: none; display: flex; justify-content: space-around; }
#bottom ul li { display: flex; align-items: center; height: 100%; align-items: center; font-size: 0.96rem; }

#msz { width: 100%; height: 30%; background: white; position: absolute; left: 0; bottom: 0; display: none; }

#msz p { width: 100%; height: 25%; background: wheat; display: flex; justify-content: space-around; align-items: center; margin-top: 0.5rem; }

#msz p span { width: 2rem; height: 100%; border: 1px solid gray; display: flex; align-items: center; justify-content: center; }

#msz ol { list-style: none; height: 30%; display: flex; justify-content: space-around; align-items: center; margin-top: 0.5rem; }

#msz ol li { height: 60%; width: 16%; display: flex; }

#msz ol li:last-child { margin-right: inherit; }

#msz ol .bb1 { background-color: coral; }

#msz ol .bb2 { background-color: violet; }

#msz ol .bb3 { background-color: cornflowerblue; }

#msz ol .bb4 { background-color: #b8ca9d; }

#msz ol .bb5 { background-color: #AFD9EE; }

.yj { background-color: #000; color: white; }

#jju { width: 100%; height: 10%; background: wheat; position: absolute; left: 0; bottom: 0; display: none; }

#jju span { width: 23%; height: 56%; flex: 1; text-align: center; }

#jju p { display: flex; height: 100%; align-items: center; }

#syz { height: 1.28rem; display: flex; justify-content: space-between; padding: 0 0.64rem; border-bottom: 1px solid #d4c4a6; }
#syz span { height: 100%; }
#syz span b { font-weight: normal; font-size: 0.48rem; height: 100%; vertical-align: top; line-height: 1.28rem; }

.bag { background: rgba(139, 156, 146, 0.63); }

/*# sourceMappingURL=subpage.css.map */
